<div class="row">
  <h1>Registry status</h1>
  <div class="tooltip"></div>

  <section class="twocol registries last">
    <ul>
      <% registries.forEach(function (location) { %>
        <% location.registries.forEach(function (registry) { %>
          <li id="<%- registry.name %>">
            <a href="#<%- registry.name %>">
              <div><%- registry.display %></div>
              <div class="registry-details">
                <span><%- registry.url %></span>
                <span><%- registry.icon %></span>
              </div>
            </a>
          </li>
        <% }) %>
      <% }) %>
    </ul>
  </section>

  <section class="tencol svg last"></section>
</div>